@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.heading-title
{
    margin-bottom: 100px;
    text-align: center;

}
.main-timeline{
    position: relative;
    transition: all 0.4s ease 0s;
}

.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #bfbfbf;
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline .timeline{
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #0a90d7;
    position: absolute;
    top: 0;
    left: 3px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}

.main-timeline .timeline-content{
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    background: linear-gradient(black,blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.main-timeline .date{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 12px 33px;
    background: #0a90d7;
    border-radius: 30px;
}

.main-timeline .title{
    font-size: 24px;
    font-weight: 500;
    color: #5c5151;
    margin-top: 30px;
}

.main-timeline .description{
    font-size: 18px;
    color: #606060;
}

.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}

@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline-icon{
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content{
        width: 90%;
        float: right;
    }
}

@media (max-width: 768px) {
    .main-timeline .timeline-content{
        text-align: center;
        margin-bottom: 12px;
    } 
    .main-timeline .timeline-content.right{
        text-align: center;
    } 
}
/* CSS Document */

.person {
	max-width: 270px;
    text-align: center;
    padding:0px;
}
.person img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
    margin: auto;
    
}
.person-content {
	margin-top: 20px;
}
.person h4 {
	font-weight: 400;
}
.person h5 {
	color: #00aeda;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}

/* faculty cards css */
.faculty-cards
{
    margin: 2% 0 ;
    padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins',sans-serif;
  background-color: #fffffd;
}
.slide-container
{
    max-width: 1120px;
    width: 100%;
    padding: 10px 0 ;
}
.slide-content
{
    padding: 0px 0;
    margin: 0 40px;

    border-radius: 25px;
}
.card
{
    
    margin:1%;
    border-radius: 25px;
    background-color: #FFF;
}
.image-content,
.card-content
{
display: flex;
flex-direction: column;
align-items: center;
padding: 10px,14px;
}
.image-content
{
    position: relative;
    row-gap: 5px;
    padding:25px 0;
    
}
.overlay
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after
{
   
    content: '';
    position: absolute;
    right: 0;
     bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  

}
.overlay::after
{
    border-radius:0 25px 0 0;
    background-color: #fff;
}
.card-image
{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background:#fff;
    padding: 3px;
}
.card-image .card-img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}


.faculty-name
{
    font-size: 3rem;
    font-weight: 900;
    color: #333;
}
.description
{
    
    font-size: 1.6rem;
    color: #707070;
    text-align:center;
}

.button
{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 2%;
    cursor: pointer;
    transition: all 0.3s ease;

}
.button:hover{
    background: #265DF2;
}
.swiper-navBtn
{
    display: none;
    color: #6E93f7;
    transition: colot 0.3s ease;
}
.swiper-navBtn:hover
{
    color: #4070F4;
}
.swiper-navBtn:before,
.swiper-navBtn:after
{
    font-size:40px;
}
.swiper-button-next
{
    right: 0;
}
.swiper-button-prev
{
    left: 0;
}
.swiper-pagination-bullet
{
    gap:1.5px;
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active
{
background-color: #4070F4 ;
}
@media screen and (max-width:768px) {
    .slide-content
    {
        margin: 0 10px;
    }
    .swiper-navBtn
    {
        display: none;
    }
    .swiper-pagination
    {
        padding-top:40;
    }

    
}
#more,#more1, #more2
{
    display: none;
}
.faculty-designation
{
    font-family: 'Poppins' sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}