
.heading-title
{
    margin-bottom: 100px;
    text-align: center;

}
.main-timeline{
    position: relative;
    transition: all 0.4s ease 0s;
}

.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #bfbfbf;
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline .timeline{
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #0a90d7;
    position: absolute;
    top: 0;
    left: 3px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}

.main-timeline .timeline-content{
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.main-timeline .date{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 12px 33px;
    background: #0a90d7;
    border-radius: 30px;
}

.main-timeline .title{
    font-size: 24px;
    font-weight: 500;
    color: #5c5151;
    margin-top: 30px;
}

.main-timeline .description{
    font-size: 18px;
    color: #606060;
}

.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}

@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline-icon{
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content{
        width: 90%;
        float: right;
    }
}

@media (max-width: 768px) {
    .main-timeline .timeline-content{
        text-align: center;
    } 
    .main-timeline .timeline-content.right{
        text-align: center;
    } 
}
/* CSS Document */

.person {
	max-width: 270px;
	text-align: center;
}
.person img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto;
}
.person-content {
	margin-top: 20px;
}
.person h4 {
	font-weight: 400;
}
.person h5 {
	color: #00aeda;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}