@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #FF1901;
    font-family: 'Press Start 2P',
        cursive;

    scroll-behavior: smooth;
}

.overlay {
    background: #060e15;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.overlay img {
    max-width: 350px;
    height: auto;
}

.container {
    display: none;
    padding: 10px 0px;
}

.page {
    width: 95vw;
    min-height: 80vh;
    border-radius: 25px;
    margin: 50px auto;
    box-shadow: 0px 0px 0px 6px #0B1728;
    background-color: white;
    padding: 0;
}

.nav {
    padding: 0 50px;
    background-color: #17008E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px 25px 0px 0px;
    border: solid #17008E 7px;
    /* height: 50px; */
    color: white;
    line-height: 2.2;
    font-size: 1.5em;
}

.nav ul li {
    display: inline;
}

li:hover {
    color: #FFCC01;
}

#p1 .content {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 150px 0;
}

.heading {
    background: linear-gradient(180deg, #58237A 0%, #CC4444 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#p1 .content-text {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-self: center;
}

#p1 .content-text h1 {
    font-size: 2.5em;
}

.btn {
    background: #FFCC01;
    border: 4px solid #000000;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    color: #000000;
    box-shadow: 5px 5px 0px #0B1728;
    /* transition: all 0.2s ease; */
}

.btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #0B1728;

}

#about .content {
    line-height: 2.2;
    padding: 25px 30px;
    margin: 5px;
}

#events {
    padding-bottom: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.card {
    border: 4px solid #000000;
    border-radius: 15px;
    box-shadow: 5px 5px 0px #0B1728;
    width: 400px;
    max-width: 300px;
    margin: 15px 25px;
    min-height: 300px;
}

.card:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #0B1728;
}

.card:hover .card-title {
    color: #FFCC01;
}

.card-title {
    border-radius: 11px 11px 0 0;
    padding: 15px;
    color: white;
    font-size: 1.5em;
    background-color: #17008E;
}

.card-body {
    padding: 15px;
}

#p4 {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background: #0B1728;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
}

.footer-content {
    /* background-color: green; */
    /* width: 350px; */
    color: white;
    border-left: 1px white solid;
    margin: 30px 0;
    padding-left: 15px;
}

.footer-content p {
    color: #9D9494;
    font-size: 0.8em;
}

.footer-links a {
    color: #9D9494;
    font-size: 0.8em;
}

.footer-links a:hover {
    text-decoration: underline;
    color: white;
}

@media only screen and (max-width: 600px) {

    .page {
        margin: 20px auto;
    }

    .nav {
        padding: 1px;
    }

    .nav ul {
        font-size: 0.7em;
    }

    #p1 .content {
        padding: 0;
    }

    #p1 .content-text {
        width: 100%;
    }

    #p1 .content-text h1 {
        font-size: 1.5em;
    }

    .footer {
        grid-template-columns: none;
        grid-template-rows: repeat(3, auto);
        border-radius: 25px;
    }

    .footer-content {

        padding: 15px;
    }

    #p4 {
        grid-template-rows: 1fr;
    }

    #p4-content{
        display: none;
    }
}