.cTitle {
    font-family: 'Dosis', sans-serif;
}

nav .cLogo {
    font-family: 'Exo', sans-serif;
    position: absolute;
    color: white;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

.iconBlue {
    color: #29b6f6;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 720px) {
    .parallax-container {
        height: 250px;
    }

    nav .cLogo {
        font-family: 'Exo', sans-serif;
        position: absolute;
        color: white;
        display: inline-block;
        font-size: 1.16rem;
        padding: 0;
    }
}